<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectronicJournal</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css "/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="~/js/site.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>


</head>
<body>
    <header class="main_header">
        <a class="burger_menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars"></i>
        </a>
        <form asp-action="Logout" asp-controller="home" style="float: right;">
            <button class="log_out">Вийти</button>
        </form>
    </header>


    <div id="weather-display">
        <span id="weather-info">Завантаження погоди ...</span>
    </div>


    <div class="menu offcanvas offcanvas-start" tabindex="-1" style="width: 250px" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body">
            <div class="home_btn">
                <a class="add_user" asp-action="Main" asp-controller="home">Головна</a>
            </div>
            @if(User.IsInRole("Admin"))
            {
                <div>
                    <a class="add_user" asp-action="CreateUser" asp-controller="home">Добавити користувача</a>
                </div>
                <div>
                    <a class="add_user" asp-action="UsersList" asp-controller="home">Список користувачів</a>
                </div>
                <div>
                    <a class="add_user" asp-action="CreateGroup" asp-controller="home">Добавити групу</a>
                </div>
            }
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <script src="~/js/site.js"></script>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
