@model IEnumerable<ElectronicJournal.Models.SubjectGroup>

@{
    Layout = "_Layout1";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="main_buttons" align="center">

        <a class="fixed-button" asp-action="AddGroup" asp-controller="home" asp-route-subjectId="@ViewData["subjectId"]">
            <i class="fa-solid fa-plus"></i>
        </a>

        @foreach (var item in Model)
        {
            <div class="hidden_practice_schedule">
                <a class="teachers_schedule_btn" asp-action="EditJournal" asp-route-subjectId="@item.SubjectNameId" asp-route-groupId="@item.GroupId" asp-controller="home">
                    @item.Group?.GroupName
                </a>
            </div>
        }
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
